*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bpg_arial_caps {
  font-family: "BPG Arial Caps", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}